.indicator {
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}

.indicator.false {
    background-color: #cc0000;
    color: #fff;
}

.indicator.true {
    background-color: #00cc00;
    color: #000;
}
